form {
    background-color: rgb(246, 245, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

form label {
    display: block;
    width: 100px;
}

form input {
    width: 200px;
}

.error-msg {
    color: red;
    font-weight: bold;
}

form .error-msg-box {
    margin-top: 0;
    margin-bottom: 0;
}

