<h2>Dodaj użytkownika</h2>
<form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
    <div>
        <label for="firstName">Imię</label>
        <input type="text" name="firstName" id="firstName" formControlName="firstName">
    </div>

    <div class="error-msg-box" *ngFor="let validation of validation_messages.firstName">
        <p class="error-msg"  *ngIf="firstName?.hasError(validation.type) && (firstName?.dirty || firstName?.touched)">
            {{validation.message}}
        </p>
    </div>

    <div>
        <label for="lastName">Nazwisko</label>
        <input type="text" name="lastName" id="lastName" formControlName="lastName">
    </div>

    <div class="error-msg-box" *ngFor="let validation of validation_messages.lastName">
        <p class="error-msg"  *ngIf="lastName?.hasError(validation.type) && (lastName?.dirty || lastName?.touched)">
            {{validation.message}}
        </p>
    </div>


    <div>
        <label for="age">Wiek</label>
        <input type="number" name="age" id="age" formControlName="age">
    </div>

    <div class="error-msg-box" *ngFor="let validation of validation_messages.age">
        <p class="error-msg"  *ngIf="age?.hasError(validation.type) && (age?.dirty || age?.touched)">
            {{validation.message}}
        </p>
    </div>

    <div>
        <button type="submit">Dodaj</button>
    </div>
</form>