.user-list {
    background-color: rgb(207, 250, 189);
    margin: auto;
    padding-top: 10px;
}

.user-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.user-row p {
    font-size: 20px;
    margin-top: 5px;
}

.user-row a {
    text-decoration: none;
    background-color: rgb(156, 206, 249);
    color: red;
    min-width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.user-row a:hover {
    border: 1px solid red;
    color: yellow;
}