<h2>Lista</h2>
<div class="user-list" *ngIf="users.length > 0">
    <div class="user-row" *ngFor="let user of users">
        <p>{{user.firstName + ' ' + user.lastName}}</p>
        <a (click)="showUser(user.id)">POKAŻ</a>
        <a (click)="deleteUser(user.id)">X</a>
    </div>
</div>