<h2 *ngIf="selectedUser != undefined">Szczegóły</h2>
<div class="user-view" *ngIf="selectedUser != undefined">
    <p><span>Id: </span><span>{{selectedUser.id}}</span></p>
    <p><span>Imię: </span><span>{{selectedUser.firstName}}</span></p>
    <p><span>Nazwisko: </span><span>{{selectedUser.lastName}}</span></p>
    <p><span>Wiek: </span><span>{{selectedUser.age}}</span></p>
</div>