<div class="main-container">
  <app-newuser (upadteListEvent)="updateUserList()"></app-newuser>
  <app-showuser [selectedUser]="selectedUser"></app-showuser>
  <app-userlist [users]="users" (showUserEvet)="selectUser($event)" (upadteListEvent)="updateUserList()"></app-userlist>
</div>